:root {
    --beige: #F6F5F0;
    --white: #FFF;
    --green: #568551;
    --orange: #F87248;
    --black: #333333;

    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;

    --s-40: 2.5rem;
    --s-100: 6.25rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--beige);
    font-family: Syne;
    font-size: var(--s-40);
}

#main-wrap {
    padding: var(--s-40);
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;
    gap: 1.25rem;
    height: 100vh;
}

.logo, .info-belt, .menu {
    display: grid;
    padding: 2rem;
    place-content: center;
}

.info-belt {
    font-weight: var(--fw-700);
}

.menu {
    color: var(--white);
}

.deck-wrap {    
    display: grid;
    place-content: center;
    gap: var(--s-40);
}


h2 {
    font-weight: var(--fw-400);
    font-size: var(--s-40);
}

.deck-remaining,
.deck-rejected {
    display: grid;
    justify-items: center;
    gap: calc(var(--s-40)/2);
}

.players-wrap {
    display: grid;
    align-content: start;
    justify-content: center;
    height: 100%;
    padding: var(--s-40) 0;
    overflow: hidden;
    transition: all .5s ease;
}

.player-action {
    margin: 60px 0;
    display: flex;
    padding: 0 var(--s-40);
    justify-content: space-between;
    align-items: center;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--s-40);
}

.card {
    color: var(--beige);
    aspect-ratio: 1 / 1;
    width: 15rem;
    display: grid;
    place-content: center;
    font-size: var(--s-100);
    font-weight: var(--fw-800);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.card::after,
.card::before {
    content: attr(data-suit);
    position: absolute;
    font-size: var(--s-40);
}

.card::after {
    transform: rotate(180deg);
    bottom: 0;
    right: calc(var(--s-40)/4);
}

.card::before {
    left: calc(var(--s-40)/4);
}

.card.card-back {
    background-color: var(--green);
    color: var(--green);
    user-select: none;
}

.card.disabled {
    background-color: var(--white);
}

.deck-drawn .card.disabled {
    background-color: var(--beige);
}

.card.card-back::after,
.card.card-back::before,
.card.disabled::after,
.card.disabled::before {
    content: "";
}

.btn {
    background-color: var(--beige);
    border: none;
    padding: var(--s-40);
    border-radius: 20px;
    cursor: pointer;
    font-weight: var(--fw-700);
}

.br-20 {
    border-radius: 20px;
}

.white {
    background-color: var(--white);
}

.red {
    background-color: var(--orange);
}

.black {
    background-color: var(--black);
}

/* Menu */

.menu .menu-circle {
    border: 4px solid var(--white);
    aspect-ratio: 1 / 1;
    display: grid;
    place-content: center;
    width: 3.75rem;
    border-radius: 20rem;
    gap: .25rem;
    cursor: pointer;
}

.menu .menu-circle .line {
    height: 4px;
    width: 25px;
    background-color: var(--white);
  }

  /* .menu .menu-circle .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .menu .menu-circle .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .menu .menu-circle .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  } */